#form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#info {
  padding: 6% !important;
}
.field {
  background-color: #d7d1ac;
}

.handle2 {
  /* position: relative; */
  float: right;
}

#apply {
  background-color: #d7d1ac;
  margin-top: 15px;
}
