.club-logo {
  border-radius: 100%;
  height: 80px;
  width: 80px;
}
.burger {
  display: none;
}

.link{
    color: black;
    font-weight: 700;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .club-logo {
    height: 50px;
    width: 50px;
  }
  .club-name {
    font-size: 20px;
  }
  .quick-links {
    font-size: 13px;
  }
  .links-wrapper {
    display: none;
  }
  .burger {
    display: block;
  }
}
