.mainContent{
    background-color: #d7d1ac;
    padding-top: 15px;
    padding-left: 15px;
    height: 85vh;
    max-width: 95vw;
    border-radius: 25px;
}

.sectionHeader{
    background-color: #e7e2c3;
    /* margin-top: 20px; */
    align-items: flex-start;
    align-content: center;
    height: 80vh;
    width: 20vw;
    border-radius: 25px 0px 0px 25px;
}
.sectionContent{
    background-color: #e7e2c3;
    /* margin-top: 20px; */
    margin-left: 15px;
    height: 80vh;
    width: 71vw;
    border-radius: 0px 25px 25px 0px;
}
.sectionHeaderCard{
    padding: 2px;
    margin: 7px;
}