.sectionChild-div
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.child-header{
    display: inline !important;
    margin-left: 2%;
}

#edit{
    float: right;
    color: gray;
    background-color: #ffefc7 !important;
    margin: 5px;
}

#delete{
    /* background-color: #e7e2c3 !important; */
    color: gray;
    float: right;
    background-color: #ffefc7 !important;
    margin: 5px;
}
